:root{
    --buttonColor: #ef233c;
    --headingColor: #2b2d42;
    --buttonHover: #8d99ae;

}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #edf2f4;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
}

h1{
    text-align: center;
    color: var(--headingColor);
}

li{
    background-color: var(--buttonColor);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    list-style: number inside;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

li:hover{
    background-color: var(--buttonHover);
    cursor: pointer;
    text-decoration: underline;
}

ol{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 20%;
    align-items: stretch;
}

button{
    display: block;
    text-align: center;
    padding: 10px 10px;
    border-radius: 40px;
    margin: 0 auto;
}

main{
    display: flex;
    align-content: center;
    flex-direction: column;
}
