body{
    font-family:Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
}

h2{
    text-align: center;
}

li{
    background-color: red;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    list-style: number inside;
    color: white;
}

li:hover{
    background-color: blue;
    cursor: pointer;
}

ol{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
